/node_modules
/vendor
/.git
.env
.env.backup
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
/public/build
/public/hot
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
